<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Purchase Form</title>
</head>
<body>
  <h2>Purchase Form</h2>
  <form action="/checkout" method="post">
    <input type="text"   name="item" size="30" placeholder="Enter an item to purchase"/><br>
    <input type="submit" name="submit" value="submit"/>
  </form>
</body>
</html>
